.login-box .login-logo a img,
.register-box .register-logo a img {
	width: 50%;
}

.drivr-blue {
	color: #004aad;
}

.login-page, .register-page {
	background: white !important;
}

.login-box-body, .register-box-body {
	border: 1px solid black;
}

.drivr-message-box {
	margin-top: 50px;
	text-align: center;
}

.table.table-striped {
	width: 100% !important;
	background-color: white;
}

.drivr-plus-square {
	color: #4ca858;
}

.drivr-add-button,
.btn.btn-primary {
	background: white;
	border: 1px solid #4ca858;
	color: #4ca858;
}

.drivr-add-button:hover,
.btn.btn-primary:hover {
	background: #4ca858;
	border: 1px solid #4ca858;
	color: white;
}

.drivr-add-button:hover i.drivr-plus-square,
.btn.btn-primary:hover i.drivr-plus-square {
	color: white;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
	background: #4ca858;
	border: 1px solid #4ca858;
}

.modal-title {
	display: block;
}
.modal-footer .btn {
	margin-bottom: 0;
	margin-right: 0;
}

.image-preview {
	margin-top: 0.5rem;
    height: 200px;
    width: 200px;
    max-width: 100%;
    object-fit: contain;
    border: 1px solid #d2d6de;
}

div#first-address-field, 
div#second-address-field,
div#third-address-field,
div#first-additional-field, 
div#second-additional-field,
div#third-additional-field,
div#fourth-additional-field {
	border: 1px solid black;
	padding: 10px;
	margin: 10px 0px;
}

div#first-address-field>b, 
div#second-address-field>b,
div#third-address-field>b,
div#first-additional-field>b, 
div#second-additional-field>b,
div#third-additional-field>b,
div#fourth-additional-field>b {
	font-size: 20px;
	padding-top: 15px;
}

.lds-dual-ring {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2050;
    background-color: rgba(0,0,0,0.2);
    overflow: hidden;
    top: 0;
}

.pace-running {
    display: block;
    opacity: .6;
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1500;
    background-color: black;
    overflow: hidden;
    top: 0;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 0px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
    position: fixed;
    left: calc(50% - 32px);
    margin-left: 0px;
    top: 50%;
    margin-top: -50px;   
}

.status-red,
a.status-red:hover,
a.status-red:active,
a.status-red:focus {
    color: red;
}

.status-green,
a.status-green:hover,
a.status-green:active,
a.status-green:focus {
    color: green;
}

.status-orange,
a.status-orange:hover,
a.status-orange:active,
a.status-orange:focus {
    color: orange;
}

.status-gray,
a.status-gray:hover,
a.status-gray:active,
a.status-gray:focus {
    color: gray;
}

.status-blue,
a.status-blue:hover,
a.status-blue:active,
a.status-blue:focus {
    color: blue;
}

.status-black,
a.status-black:hover,
a.status-black:active,
a.status-black:focus {
    color: black;
}

a.expand-button {
    display: none;
}

tr.child {
    display: none;
}

.even.parent .dtr-control,
.odd.parent .dtr-control{
    pointer-events: none;
}

.date-input.form-control,
.status-select.form-control {
    width: 10%;
    min-width: 200px;
    display: inline;
}

a#filter-button {
    margin-top: 5px;
    margin-left: 10px;
}

span.get-address-error-one,
span.get-address-error-two,
span.get-address-error-three,
#postal_code_one_error_message,
#postal_code_two_error_message,
#postal_code_three_error_message {
    display: block;
    font-weight: bold;
    color: red; 
}

@keyframes lds-dual-ring {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}

.value-break { 
  word-break:break-word;
}

@media screen and (max-width: 1280px) and (min-width: 991px){

    span.line-break.status-break {
        display: none;
    }

    span.break-1280 {
        display: block;
    }

    select.status-select.form-control {
        margin: 10px 10px 0 25px;
    }

}

@media screen and (max-width: 990px) {

    span.break-1280,
    span.line-break {
        display: none;
    }

    .date-input.form-control {
        display: block;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .status-select.form-control {
        display: block;
    }

    a#filter-button {
        margin-top: 15px;
        margin-left: 0px;
    }
}

@media screen and (max-width: 767px) {

    .even.parent,
    .odd.parent {
        visibility: hidden;
    }

    a.expand-button {
        display: block;
    }

	input#delivery_time, input#delivery_date {
		padding-top: 0px;
	}

    tr.child {
        display: block;
    }

    thead>tr:first-child {
        display: none;
    }

    div.form-group.date-input-form {
        text-align: center;
    }

    label.date-input-label,
    .date-input.form-control,
    .status-select.form-control {
        text-align-last: center; 
        text-align: center;
        margin: auto;
    }

    .date-input.form-control { 
        margin-bottom: 10px;
        padding-top: 0px;
        padding-left: 35px;
    }

    .status-select.form-control { 
        margin-bottom: 10px;
        padding-top: 0px;
        padding-left: 25px;
    }

    a#filter-button {
        margin-top: 5px;
        margin-left: 0px;
    }

    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        margin: 2px auto;
    }

    div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:last-child,
    div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:first-child {
        padding-left: 0;
        padding-right: 0;
    }
	
}
